
   /* Media Responsive Settings  */

@media only screen and (max-width: 980px) {
    .aboutme {
        width: 800px;
    }
    .navheader {
        width: 800px;
 }
};

@media only screen and (max-width: 768px) {
    .aboutme {
        width: 600px;
    }
    .navheader {
        width: 600px;
 }
    
};

@media only screen and (max-width: 640px) {
    .aboutme {
        width: 500px;
    }
    .navheader {
        width: 500px;
 }
 .header {
     position: static;
 }

};

.hero {
   margin: 0 auto;

}

.input {
    background-color: wheat;
}

a {
    color: wheat;
}

#input {
    width: 50%;
    margin-left: 25%;

}

div.container .has-text-centered {
    margin-left: 25%;
}

.figure {
    margin: 0 auto;
}

.hero {
    background-color: maroon !important;
}