
   /* Media Responsive Settings  */

@media only screen and (max-width: 980px) {
    .aboutme {
        width: 800px;
    }
    .navheader {
        width: 800px;
 }
};

@media only screen and (max-width: 768px) {
    .aboutme {
        width: 600px;
    }
    .navheader {
        width: 600px;
 }
    
};

@media only screen and (max-width: 640px) {
    .aboutme {
        width: 500px;
    }
    .navheader {
        width: 500px;
 }
 .header {
     position: static;
 }

};

.hero {
    background-color: blueviolet !important;
}

.input {
    background-color: gold;
}